.media{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrate", sans-serif;
}

.media:hover{
    background-color: white;
    color: black;
}

@media (max-width : 550px) {
    .media{
        width:46%;
    }
}

.poster{
    border-radius: 10px;
}

b.title{
    margin:5px 0;
    text-align: center;
}
span.sunTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}